@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255;
  --foreground: 23, 23, 23;
  --highlight: 0, 223, 137;
}

.dark {
  --background: 10, 10, 10;
  --foreground: 237, 237, 237;
  --highlight: 21, 245, 159;
}

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

nav a:hover {
  color: rgb(var(--highlight));
  text-decoration: underline;
  text-decoration-color: rgb(var(--highlight));
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  text-underline-position: under;
  transition: color 0.3s, text-decoration-color 0.3s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}

.animate-slideOut {
  animation: slideOut 0.3s ease-out forwards;
}